.banner-img {
  width: 100vw;
  height: 30vw;
}

.perfil-img {
  width: 100px;
  height: 100px;
}

.header {
  margin: 20px 0 20px 0;
}

.section-about {
  margin: 20px 0 20px 0;
}

.section-skills {
  margin: 20px 0 20px 0;
}
